---
layout: landingpage
title: Fast and cost effective geospatial analysis pipeline with AWS lambda
---
#foss4gaws.foss4g-workshop.main
  .content
    %h2 Fast and cost effective geospatial analysis pipeline with AWS lambda
    %p Hey FOSS4G Oceania Folks,

    I gave a talk at FOSS4G StoM Oceania 2018 called Fast and cost effective geospatial analysis pipeline with AWS lambda. This page contains information about the slides, links to tools and resources I mentioned in my talk. If you'd like to start a conversation with me or keep up with my work, you can find details on me at the bottom of this page.
    %hr 
    .two-columns-two-third
      .col1.col
        %img(src="/images/icons/undraw_presentation1_tqkp.svg" height=180)
      .col2.col
        %h3 The Slides
        %p The slides for this talk can be found here:
        %a.btn(href="https://www.slideshare.net/mila_frerichs/fast-and-cost-effective-geospatial-analysis-pipeline-with-aws-lambda/mila_frerichs/fast-and-cost-effective-geospatial-analysis-pipeline-with-aws-lambda") Get the slides
        %br
    %hr 
    .two-columns-two-third
      .col1.col
        %img(src="/images/icons/undraw_taking_notes_tjaf.svg" height=180)
      .col2.col
        %h3 Key takeaways
        %ul.takeaways
          %li 
            Use 
            %a(href="https://github.com/CivicVision/geospatial-lambda-templates")these
            serverless templates
          %li 
            Use 
            %a(href="https://github.com/lambci/docker-lambda")this 
            docker image for running tests locally
          %li 
            Take a look at this docker image from mapbox
            %a(href="https://github.com/mapbox/landsat-tiler")landsat-tiler
          %li
            Go check out
            %a(href="https://serverless.com")serverless.com

    %hr 
    .two-columns-two-third
      .col1.col
        %img(src="/images/icons/undraw_videographer_nnc7.svg" height=180)
      .col2.col
        %h3 Video
        %p The Video has been uploaded by the organizers.
        %a.btn(href="https://www.youtube.com/watch?v=5ggdJlQ9rps") Watch the video

    %hr
    .two-columns-two-third
      .col1.col
        %img(src="https://res.cloudinary.com/civicvision/image/upload/ar_1:1,bo_0px_solid_rgb:ffffff,c_fill,g_auto,r_max/v1543672578/milafrerichs.jpg")
      .col2.col
        %h3 About me
        %p I help civic advocacy groups and governments improve the life of citizens with the help of Open Data.
        %p I run an Open Data Consultancy called Civic Vision who helps civic advocacy groups and governments use the power of Open Data and Open Source to build Visualizations, Data Stories and Tools to increase transparency and accountability.
        %p 
          Follow me on twitter
          %a(href="https://twitter.com/milafrerichs")@milafrerichs

= partial "partials/footer"
