.foss4g-workshop.main
  .content
    %h2 Welcome to Melbourne
    %h3 Welcome to this course at FOSS4G Oceania. 
    %p 
      I'm thrilled to be in Melbourne on the other side of the world to give this workshop. 
    %p 
      The workshop will teach you how to use d3 to create maps. 
    %p 
      Content includes:
    %ul
      %li Basics of d3
      %li Projections
      %li Loading data (CSV, GeoJSON, TopoJSON)
      %li Interactions
      %li Chropleth map

    %p 
      The plan for this workshop is for you to be able to create a map with d3 using open data. 
    %p 
      And the end of the workshop you will have time to work on a project using either your own data or data provided by me to try to create your own data viz. 

    %a.cta-btn(href="https://beta.observablehq.com/@milafrerichs/geospatial-data-visualizations-with-d3") Start here
