---
title: Donor Retention - Donor Retention Assessment Report
layout: lead_pages
---
- I18n.locale = :en
%div(id="landingpage")
  %section#banner
    .content-wrapper
      %h1 Donor Retention - Donor Retention Assessment Report
  %section.sub-heading
    .content-wrapper
      %h3 Thank you for your interest in your individual copy of the dDonor Assessment Report.
      %p You should receive an email from us shortly with more information.
