svg {
  display: block;
  margin: auto;
}

.node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 2px;
}

.link {
  stroke: #777;
  stroke-width: 2px;
}

.normal {
  stroke: #F00;
  stroke-linecap: arrow;
  stroke-width: 2px;
}

.group, .offset-group {
  &:nth-of-type(2n+1) {
    fill: #eef;
    stroke: #eef;
  }
  &:nth-of-type(2n) {
    fill: #efe;
    stroke: #efe;
  }
}

#one, #two {
  .group {
    stroke-width: 20px;
    stroke-linejoin: round;
  }
}

#three {
  .group {
    fill: none;
    stroke-width: 2px;
    stroke: #eee;
  }
}

.offset-group {
  fill: #eee;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.label-group {
  fill: none;
  stroke: none;
}

text {
  pointer-events: none;
}
