---
title: Data Pipeline Crash Course
layout: landingpage
---
- I18n.locale = :en
#datapipeline-thank-you.signup-thank-you
  %h1= t('datapipeline.thankyou.headline')
  .content
    = simple_format(t('datapipeline.thankyou.text'))
