---
layout: landingpage
title: Rapid and repeatable geospatial analysis with Python and JavaScript using notebooks
---
#foss4gaws.foss4g-workshop.main
  .content
    %h2 Rapid and repeatable geospatial analysis with Python and JavaScript using notebooks
    %p Hey FOSS4G UK Folks,

    I gave a talk at FOSS4G UK 2019 called Rapid and repeatable geospatial analysis with Python and JavaScript using notebooks. This page contains information about the slides, links to tools and resources I mentioned in my talk. If you'd like to start a conversation with me or keep up with my work, you can find details on me at the bottom of this page.
    %hr 
    .two-columns-two-third
      .col1.col
        %img(src="/images/icons/undraw_presentation1_tqkp.svg" height=180)
      .col2.col
        %h3 The Slides
        %p The slides for this talk can be found here:
        %a.btn(href="") Get the slides
        %br
    %hr 
    .two-columns-two-third
      .col1.col
        %img(src="/images/icons/undraw_taking_notes_tjaf.svg" height=180)
      .col2.col
        %h3 Jupyter Resources
        %ul
          %li 
            %a(href="https://www.svds.com/tbt-jupyter-notebook-best-practices-data-science") Pre-Commit Hook Post
          %li 
            %a(href="https://nextjournal.com/schmudde/how-to-version-control-jupyter") General Version Control Post
          %li 
            %a(href="https://github.com/mwouts/jupytext") Jupytext
          %li 
            %a(href="https://github.com/mapbox/mapboxgl-jupyter") MapboxGL Jupyter
          %li 
            %a(href="https://github.com/OpenGeoscience/geonotebook") GeoNotebook
          %li 
            %a(href="https://carto.com/developers/cartoframes/") Carto Frames
          %li 
            %a(href="https://developers.arcgis.com/python/sample-notebooks/creating-hurricane-tracks-using-geoanalytics/") ESRI Notebooks
          %li 
            %a(href="https://medium.com/@rrfd/cookiecutter-data-science-organize-your-projects-atom-and-jupyter-2be7862f487e") Organize your Jupyter Notebooks
        %br
        %br
        %h3 Examples
        %ul
          %li 
            %a(href="https://observablehq.com/@jake-low/how-well-does-population-density-predict-u-s-voting-outcome") Voter outcome
          %li 
            %a(href="https://observablehq.com/@fil/travelling-salesperson-on-the-globe") 
          %li 
            %a(href="https://observablehq.com/@rveciana/coastal-vignettes-with-jsts-d3js") Coastal Vignettes
          %li 
            %a(href="https://observablehq.com/@benheb/hurricane-florence-best-track-and-sst-anomalies") Hurricane Florence
          %li 
            %a(href="https://observablehq.com/@jake-low/satellite-ground-track-visualizer") Satellite Tracker
          %li 
            %a(href="https://observablehq.com/@mbostock/a-map-of-every-building") A Map of Every Building
          %li 
            %a(href="https://observablehq.com/@larsvers/making-a-tesselated-hexbin-map") Making a Tesselated Hexbin Map
          %li 
            %a(href="") 

    %hr
    %h3 Example Notebook Structure
    %ul
      %li 
        Title
      %li 
        Short explanation why you‘re doing it. 
      %li 
        Result (Visualization, Conclusion)
      %li 
        Steps to create with explanations in between (make good use of the markdown you‘re able to write)
      %li 
        Data Including Data Sources Explanations
      %li 
        Libraries 
      %li 
        Date of the creation/update
    %hr
    .two-columns-two-third
      .col1.col
        %img(src="https://res.cloudinary.com/civicvision/image/upload/c_scale,w_auto,dpr_auto/v1552905044/Landingpages/Geospatial%20d3/hexmap.png")
      .col2.col
        %h3 Geospatial Data Visualization with d3 - Online Workshop
        %p If you're interested in learning more about observable and how to create data visualizations with d3, check out my new online course:   
        %a.btn(href="https://civic.vision/geospatial-data-visualization-with-d3/") Check it out
    %hr
    .two-columns-two-third
      .col1.col
        %img(src="https://res.cloudinary.com/civicvision/image/upload/ar_1:1,bo_0px_solid_rgb:ffffff,c_fill,g_auto,r_max/v1543672578/milafrerichs.jpg")
      .col2.col
        %h3 About me
        %p I help civic advocacy groups and governments improve the life of citizens with the help of Open Data.
        %p I run an Open Data Consultancy called Civic Vision who helps civic advocacy groups and governments use the power of Open Data and Open Source to build Visualizations, Data Stories and Tools to increase transparency and accountability.
        %p 
          Follow me on twitter
          %a(href="https://twitter.com/milafrerichs")@milafrerichs

= partial "partials/footer"
