.prices {
  margin: 5em 0 2em;
  @include span-columns(10);
  @include shift(1);
  @include media($laptop-screen-down) {
    @include shift(1);
  }
  .silver, .plat {
    float: left;
    @include span-columns(4);
    @include omega();
    background: rgba(255,255,255,1);
    text-align: center;
    position: relative;
    @include media($smaller-screen) {
      @include shift(1);
      margin-top: 1em;
      @include span-columns(10);
      @include omega();
    }
    @include media($normal-phone) {
      @include shift(0);
      @include span-columns(12);
    }
  }

  .gold {
    float: left;
    position: relative;
    @include span-columns(4);
    @include omega();
    top: -50px;
    padding: 50px 0;
    background: rgba(52, 152, 219,1.0);
    text-align: center;
    border-radius: 5px;
    @include media($smaller-screen) {
      @include shift(1);
      @include span-columns(10);
      @include omega();
      margin-top: 1em;
      top: 0;
    }
    @include media($normal-phone) {
      @include shift(0);
      @include span-columns(12);
    }

		.price {
			color: #fff;
		}
    & > h1, & > h2, & > p, & > span {
      color: rgba(255,255,255,1);
    }
  }

  h1 {
    margin: 20px 0 10px 0;
    font-size: 1.25em;
    color: rgba(0,0,0,0.8);
  }

  h2 {
    font-size: .75em;
    color: rgba(0,0,0,1);
    font-weight: 300;
    letter-spacing: 1px;
  }

  p {
    color: rgba(0,0,0,.4);
    margin: 10px 0;
    font-weight: 100;
    font-size: .75em;
  }

  span {
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: inline-block;
    @include span-columns(2 of 4);
    @include shift(1);
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgba(0,0,0,.5);
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .price {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    color: #000;
    font-size: 1.4em;
    font-weight: 400;
    margin: 20px auto;
    @include media($normal-phone) {
      margin: 1em auto;
      width: auto;
      height: auto;
      line-height: 1.5em;
    }
  }

  button, .price-btn {
    display: block;
    margin: 20px auto;
    @include span-columns(6);
    @include shift(3);
    height: 35px;
    line-height: 35px;
    border-bottom: 5px solid rgba(192, 57, 43,1.0);
    background: rgba(231, 76, 60,1.0);
    border: none;
    border-radius: 5px;
    color: rgba(255,255,255,1);
    font-size: .75em;
    font-weight: 300;
    transition: all ease-in-out .2s;
    
    &:hover {
      background: rgba(192, 57, 43,1.0); 
    }
  }
  .modal {
    .modal-inner {
      form {
        
      }
    }
  }

}
