.flex.w-full.px-3.items-center
  %svg.w-8.mr-2.icon-check{:viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
    %circle.fill-current.text-green-200{:cx => "12", :cy => "12", :r => "10"}
    %path.fill-current.text-gray-600{:d => "M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"}
      %span= text
