---
section_title: Über uns
---
#us
  .content
    %h3= t('about_us.title')

    %ul.personas
      %li
        .person
          = image_tag "mf.jpeg", class: "me"
          %h4 Mila Frerichs
      %li
        Daniel Kirsch
