---
---
#what
  .content
    %ul.bullets
      - data.services.each do |service|
        = partial "partials/bullets", locals: { title: t("what.#{service.id}.title"), content: t("what.#{service.id}.content"), sub_content: t("what.#{service.id}.sub_content"), link: service.link }
