---
---
#what
  .content
    %ul.bullets
      = partial "partials/bullets", locals: { title: t("what.consultancy.title"), content: t("what.consultancy.content"), sub_content: t("what.consultancy.sub_content") }
      = partial "partials/bullets", locals: { title: t("what.visualization.title"), content: t("what.visualization.content"), sub_content: t("what.visualization.sub_content"), link: "https://civicvision.de/data-visualization" }
      = partial "partials/bullets", locals: { title: t("what.storytelling.title"), content: t("what.storytelling.content"), sub_content: t("what.storytelling.sub_content"), link: 'https://civicvision.de/civicstorytelling' }
