---
---
#what
  .content
    %ul.bullets
      = partial "partials/bullets", locals: { title: t("what.consultancy.title"), content: t("what.consultancy.content"), sub_content: t("what.consultancy.sub_content") }
      = partial "partials/bullets", locals: { title: t("what.visualization.title"), content: t("what.visualization.content"), sub_content: t("what.visualization.sub_content") }
      = partial "partials/bullets", locals: { title: t("what.trainings.title"), content: t("what.trainings.content"), sub_content: t("what.trainings.sub_content") }
