---
title: Civic Vision
what:
---

#welcome
  .content
    %h1 Civic Vision
    %h2= I18n.t(:tagline)

= partial "partials/what"
= partial "partials/us"
- if data.portfolio.signature
  = partial "partials/portfolio"
