---
title: Civic Vision
layout: cv
what:
consultation_form_id: 15856593
---
.container.mx-auto
  .mt-16.text-grey-darker
    %h1.text-5xl Reach more people and influencers to increase transparency and accountability.
    .text-lg.text-grey-darkest.leading-normal.spaced-y-6
      %p
        As an advocacy group, you want to reach as many (influential) people as possible.
      %p 
        Your best vehicles are news articles about your efforts and reports you send out to the media, public and influencers.
      %p 
        You want people to read your messages and spread your insights.
      %p 
        Getting the best media coverage is getting harder nowadays, and people spend less time reading articles and reports.
      %p 
        Using data as a vehicle can help increase the chances of getting noticed and getting your message across.
      %p 
        People understand data better, and effective presentation of this data can help influencers (councilmembers, staffers, city officials) understand your insights and your point quicker

    %blockquote.text-4xl.text-grey-dark The human brain processes images x-times faster than text
    .text-lg.text-grey-darkest.leading-normal.spaced-y-6
    %p
      According to studies by infogram and D.C. Thomson data visualizations can increase the engagement of your audience.
    %p
      The study showed a 15-30% increase in comments and shares. As well as a 60-100% increase in time spent on the site.
    %p
      Increase audience engagement and time spent on your site/report will result in more donations and will spread your message more widely. Engagements in sharing your story via social media will increase your reach across your target audience.
    %p
      I help you create engaging reports and visualizations for the media and for politicians and their staffers.
    %p
      As well as making it easy to share these visualizations on social media to engage a greater audience and gain momentum.
    %h1.text-5xl
      I help
      %span.text-orange civic advocacy groups
      and
      %span.text-orange social sector organizations
      increase transparency and accountability.

    %h2.text-2xl.mt-4
      I use the power of public Open Data and Open Source to build tools and visualization to help 
      %span.text-orange organizations like yours 
      to improve the life of citizens.
    %p
      I help you, and your organization increase your reach and bring your message across more confident.
