---
title: Civic Vision
layout: cv
what:
consultation_form_id: 15856593
---
.container.mx-auto
  .mt-16.text-grey-darker.md:p-8
    %h1.font-bold.text-5xl.leading-tight Reach more people and influencers to increase transparency and accountability.
    .text-lg.text-grey-darkest.leading-normal.mt-8
      %p.mb-4
        As an 
        %b advocacy group,
        you want to reach as many (influential) people as possible with your message.
      %p
        Your best vehicles are
        %i news articles
        about your efforts,
        %i reports
        you send out to the media, the public and influencers and 
        %i blog posts.
    %p.text-2xl.mt-4.font-bold.text-grey-dark 
      You want people to read your messages and spread your insights. 
    .text-lg.text-grey-darkest.leading-relaxed.spaced-y-6.mt-4
      %p.mb-4
        Unfortunately, research shows that more and more people only scan articles instead of reading them thoroughly. Studies also show that people spent less time reading on the internet in general. On top of that, most of them will only read the text that is visible without scrolling.
      %p.mb-4
        It is frustrating for you because you rely on people to read your point of view and spread your message. 
      %p.mb-8
        Furthermore, getting the best media coverage is harder nowadays. Journalists have less time and more to write about, there is generally more content to consume and media outlets compete with the general internet.
      %p.mb-4
        Does this sound familiar to you:
      %ul.list-inside.list-disc
        %li
          Your audience spends
          %b less time
          on your website and reports
        %li
          the media 
          %b does not report 
          about your key findings
        %li 
          your well crafted-reports gets
          %b dismissed 
          by influencers and the media
        %li 
          your report 
          %b does not get shared 
          on social media and therefore decreases its reach
    .text-xl.text-grey-darkest.leading-relaxed.my-8.bg-gray-200.p-2.italic
      %blockquote
        Make it easy for journalists. They are working under ever-increasing time pressures &mdash; so if you can provide them with thorough and useful analysis and interesting examples they are more likely to pick up your story. (WHO Manual, 5)

    .text-lg.text-grey-darkest.leading-relaxed.spaced-y-6.my-4
      %p
        You want 
        %b more media coverage
        and for people to get your message and 
        %b remember
        it. You want people to 
        %b spread your message
        (on social media) and for the press to pick up the 
        %b important
        points from your reports. 

    .my-12.text-center
      %a.bg-blue-700.p-4.rounded.font-bold.text-white.tracking-wide(href="https://pipedrivewebforms.com/form/0c231ceff133b0bd87544d7b3e034a351016652")I can help you with that
    .text-lg.text-grey-darkest.leading-relaxed.spaced-y-6.my-4
      %p.mb-4
        I help you create engaging and easy to remember visualizations for your reports and for the media to use.
      %p.mb-4
        As well as making it easy to share these visualizations on social media to engage a greater audience and get momentum.
      %p.mb-4
        People understand data better, and effective presentation of this data can help influencers understand your insights and your point faster.
      %p.mb-4
        Furthermore journalists want to see your data and want your press releases to be easily consumable. 
    .text-xl.text-grey-darkest.leading-relaxed.my-8.bg-gray-200.p-2.italic
      %blockquote
        &ldquo; I think data is particularly important. Whenever I get any pitch, I want to know where the data is; I want to be able to ensure that the data is accurate.&rdquo; (Lori Udesky, health journalist)

    .text-lg.text-grey-darkest.leading-relaxed.spaced-y-6.my-4
      %p.mb-4
        According to studies between 50-80 percent of the human brain is dedicated to forms of visual processing [1][2] such as vision, visual memory, colors, shapes, movement, patterns, spatial awareness, and image recollection. [3]
      %p.mb-4
        Visualizing data taps into the pattern recognition ability and significantly accelerates the understanding of the data.[4] You can look at a chart of data presented and understand it quickly by seeing the patterns and trends.
      %p.mb-4
        According to studies by infogram and D.C. Thomson [] data visualizations can increase the engagement of your audience.
      %p.mb-4
        The study showed a 15-30% increase in comments and shares. As well as a 60-100% increase in time spent on the site.
    .text-lg.text-grey-darkest.leading-relaxed.spaced-y-6.my-8
      %p.mb-4
        Imaging having:
      %ul.list-inside.list-disc
        %li engaging reports
        %li memorable insights
        %li easy to share visuals

    %h1.font-bold.text-5xl.leading-tight
      I help your organization reach key influencers and get more media coverage with unique, memorable and engaging data visualizations.
    .text-lg.text-grey-darkest.leading-relaxed.spaced-y-6.my-8
      %p.mb-4
        I use the power of public Open Data and Open Source to build tools and visualization to help 
        %span.text-orange organizations like yours 
        to improve the life of citizens.
    .my-12.text-center
      %a.bg-blue-700.p-4.rounded.font-bold.text-white.tracking-wide(href="https://pipedrivewebforms.com/form/0c231ceff133b0bd87544d7b3e034a351016652") Apply to work with me!
