.faq
  %h3 FAQ

  %h4 What is your source of research?

  %p In the yearly report published by the Association of Fundraising Professionals (AFP) and the Center on Nonprofits and Philanthropy at the Urban Institute, average donor retention rates are calculated across the large spectrum of nonprofits. The resulting report - The Fundraising Effectiveness Project – was established in 2006 and it’s goal is to conduct research on fundraising effectiveness and help nonprofit organizations increase their fundraising results at a faster pace.

  %h4 Why use email for the campaigns?

  %p Email is just one way of reaching your donors. You can and probalby should implement similar campaigns via traditional mail and phone. I would encourage you to get in touch with your donors regularly via phone to find out more about them.
