%h1
  You could be loosing out on at least 
  %span#accent.amount-generated $14,000
  in donations.
%h2
  I help
  %span#accent= current_page.data.clients
  = current_page.data.tagline
  = image_tag 'civicstorytelling/down-arrow.png', alt: 'down arrow', id: 'img-caret'
