.lets-talk
  %h3 Still got questions?
  .modal.email-signup
    %label{for: "lets-talk-modal"}
      .cta-btn
        Let's talk
    %input#lets-talk-modal.modal-state{type: "checkbox"}/
    .modal-fade-screen#lets-talk-m
      .modal-inner
        .modal-close{for: "lets-talk-modal"}
        - content_for(:retention_questions_form_content) do
          %h3 Please provide us with more information so we can get in touch.
        - content_for(:retention_questions_form_footer) do
          %p We hate SPAM and promise to keep your email address safe.
        = partial "partials/subscribe_form", locals: { drip_form_id: current_page.data.question_form_id, name: 'retention.questions.form', show_name: true, classNames: 'questions', form_content: :retention_questions_form_content, form_footer: :retention_questions_form_footer}
