%h2 Packages
.prices
  .silver
    .ribbon-wrapper.left
      .ribbon.red.left
        %b Free
    %h1 Base
    %h2 Free during NTC 17
    .price.strikethrough.red $1,000
    %span Retention Assessment Report
    %button Get your free report
  .gold
    %h1 Standard
    %h2 &nbsp;
    .price $2,000
    %span Retention Assessment Report
    %span Initial Setup
    %span Donor Import
    %span &raquo;Thank you&laquo; Campaign
    %button Buy
  .plat
    %h1 Complete
    %h2 Custom Package
    .price &gt;$10,000
    %span Retention Assessment Report
    %span Initial Setup
    %span Donor Import
    %span &raquo;Thank you&laquo; Campaign
    %span &raquo;Your Organisation&laquo; Campaign
    %span &raquo;Where is the money spent&laquo; Campaign
    %button Get in touch!

.campaigns
  %h4 Retention Assessment Report
  %p
    The
    %i Retention Assessment Report
    is a detailed report about your donor base. We calculate your retention rate and analyse how much you can increase your donations with specific campaigns.
  %h4 &raquo;Thank you&laquo; Campaign
  %p
    The
    %i &raquo;Thank you&laquo; Campaign
    is our base campaign. It is a campaign that runs for forever and will send your donors emails in regular intervals. They will receive an immediate thank your after a donation and will remind them to either increase their donation or convert to a monthly subscription. It will sent out emails on holidays and if known their birthday.
  %h4 &raquo;Your Organisation&laquo; Campaign
  %p
    The
    %i &raquo;Your Organisation&laquo; Campaign
    is our first individual campaign. We will work together to present your Organisation to your donors to help them identify with your cause. Research shows that sending your donors more information about your Organisation and the work you do will result in more donations. 
  %h4 &raquo;Where is the money spent&laquo; Campaign
  %p
    The
    %i &raquo;Where is the money spent&laquo; Campaign
