#book-us
  %h1 Book us

  %h2 You want to book our services for a week?
  %h3 Use the button below and you can book us for the next available week.

  .get-in-touch
    .book-us
      %a.get-in-touch-button#book-us-week
        Book us
        %span for a week

    .calendly
      %a.get-in-touch-button(href= "https://calendly.com/civicvision" target= "_blank")
        Schedule a meeting
        %span with Calendly

  #thank-you
    %p Thanks for booking us for a week.
