---
title: Status of Vision Zero in San Diego
date: 2017-06-16
---
#vision-zero
  :markdown
    A lot of advocacy groups and individuals would love to see the city moving forward with their Vision Zero strategy. But it has a long way to go. In this story I want to highlight the current status of traffic fatalities in the City of San Diego by using the most up to date datset from the Open Data Portal of the city of San Diego.

  .current-state
    .number.killed
    people killed in 2017
  :markdown
    The sad truth is that <span class="killed"><span> have been killed in 2017. That is <span class="beyond"></span> beyond the Vision Zero goal.
  #dow-chart.d-o-w
  #tooltip
