---
title: When are San Diego streets unsafe?
date: 2017-07-16
---
#vision-zero
  .row
    :markdown
      A lot of advocacy groups and individuals would love to see the city moving forward with their Vision Zero strategy. But it has a long way to go. In this story I want to highlight the current status of traffic fatalities in the City of San Diego by using the most up to date datset from the Open Data Portal of the city of San Diego.

  .row
    :markdown
      ## The most dangerous time is between <span class="most-accidents-start-hour">3pm</span> and <span class="most-accidents-end-hour">7pm</span>.
      At <span class="most-per-accident">4pm</span> 54% of accidents results in at least one person injured.
      Although the most accidents occur on 12 am only 11% result in injuries.
    #dow-chart-killed-injured-per-accident.d-o-w
  .row
    :markdown
      ## The most accidents happen between <span class="most-accidents-start-hour">2pm</span> and <span class="most-accidents-end-hour">6pm</span>
      After analysing <span class="number-of-accidents">26,330</span> accidents from <span class="start-accidents-data">Jan 1st 2015</span> until today the unsafest time is between <span class="most-accidents-start-hour">2pm</span> and <span class="most-accidents-end-hour">6pm</span>. The most accidents occur at <span class="most-accidents-hour">12am</span>.
    #dow-chart-accidents.d-o-w
  .row
    :markdown
      ## The most injuries occur between  <span class="most-injuries-start-hour">3pm</span> and <span class="most-injuries-end-hour">6pm</span>
    #dow-chart-injuries.d-o-w
  .row
    :markdown
      ## The most fatalities occur between <span class="most-injuries-start-hour">6pm</span> and <span class="most-injuries-end-hour">8pm</span>
      This dataset is to be used with caution. There is a day were 80 people were killed according to the data from the city. Which I doubt and have reported. The data team is still investigating and have not fixed it.
    #dow-chart-killed.d-o-w
  .row
    :markdown
      ## Most accidents occur on a Friday
      With 4091 accidents between 2015 and today Friday is the day with the most accidents. But Thursday and Saturday are not very far away. 
    #dow-chart-single.d-o-w
  .row
    :markdown
      ## Most injuries occur on a Monday
      With 2623 peolple injured between 2015 and today Monday is the day with the most injuries. 
    #dow-chart-single-injured.d-o-w
  .row
    :markdown
      ## Weekends at Midnight have a high accident rate.
    #dow-hod-chart.d-o-w
  .row
    :markdown
      ## Weekdays between 2pm and 6pm are the most dangerous in regards to injuries.
    #dow-hod-chart-injured.d-o-w

#tooltip
- content_for(:assets) do
  = javascript_include_tag "vision_zero_time"
