$background-odd: #ccc
$background-even: #eee
.retention-calculator
  fieldset
    padding: 0
  .row
    background: $background-odd
    &:nth-child(even)
      background: $background-even
    label.normal
      +media($large-screen-up)
        +span-columns(5)
        float: left
    input.normal
      +media($large-screen-up)
        +span-columns(3)
        float: right
        &.last
          +omega()
    .button-group
      +media($large-screen-up)
        float: left
    .clear
      +row()
    &.donation-type
      text-align: center
      label.normal
        +span-columns(12)
        text-align: center
      .center
        +media($large-screen-up)
          position: relative
          display: inline-block
          vertical-align: middle
          float: none
    &.avg-donation, &.total-amount
      background: $background-even

#retention-calculator
  .box
    +span-columns(8)
    float: none
    margin: 0.5em auto
    padding: 0.5em 0
    +media($medium-screen-up)
      +span-columns(2)
      float: none
      margin: 1em  auto
    +media($large-screen-up)
      +span-columns(2)
      float: none
      margin: 1em  auto
      padding: 0.5em
  .explanation
    +row()
    +span-columns(12)
    display: none
  .viz-container
    +row()
    margin: 1.5em 0
  .viz-explanation
    +span-columns(3)
    +media($smaller-screen)
      +row()
      +span-columns(12)
    +media($small-screen)
      +row()
      +span-columns(12)
    +media($large-tablet)
      +row()
      +span-columns(12)
    +media($normal-phone)
      +span-columns(12)
      +row()
  .graph
    +row()
    +span-columns(8)
    +omega()
    +media($smaller-screen)
      +row()
      +span-columns(12)
    +media($small-screen)
      +row()
      +span-columns(12)
    +media($large-tablet)
      +row()
      +span-columns(12)
    +media($normal-phone)
      +span-columns(12)
      +row()
