.content-wrapper
  .cv
    #free-consultation-thank-you
      %h1= t('free_consultation.thankyou.headline')
  .section-alternate
    .content
      = simple_format(t('free_consultation.thankyou.text'))
