---
layout: lead_pages
---
- content_for :assets do
  = stylesheet_link_tag 'retention_calculator'
%div(id="landingpage")
  %section#banner.second-headline
    .content-wrapper
      %h1
        Donor Retention Calculator

  %section.sub-heading
    .content-wrapper
      %h3 To know your organization's exact numbers, fill out this form:

      %form#retention-form
        %fieldset
          .row
            %label{:for => "last_year_dononor"} Number of Donors last year
            %input#last-year-donors{:name => "last_year_donors", :placeholder => "Donors last year", :type => "text"}/
          %br/
          .row
            .three-columns
              %label{:for => "retained-donors"} Number of retained donors
              %input#retained-donors{:name => "this_year_donors", :placeholder => "Retained donors", :type => "text"}/
            .middle-column
              %p -- or --
            .three-columns
              %label{:for => "this_year_dononor"} Number of Donors this year
              %input#this-year-donors{:name => "this_year_donors", :placeholder => "Donors this year", :type => "text"}/
              %label{:for => "this_year_new_donors"} New donors this year
              %input#this-year-new-donors{:name => "this_year_new_donors", :placeholder => "New donors this year", :type => "text"}/
          %br/
          .row.hidden
            .three-columns
              %label{:for => "last_year_donations"} Lasrt year total donation amount or average donation
              %input#donations{:name => "last_year_donations", :placeholder => "Total donations", :type => "text"}/
            .middle-column
              %p -- or --
            .three-columns
              %input#avg-donations{:name => "avg_last_year_donations", :placeholder => "Average donation", :type => "text"}/
          .row
            %button.cta-btn#calculate-form Calculate
      .box
        .stat-explanation
          Retention Rate
        .stat-number
          %span#retention-rate
          &#37;
        .stat-footnote
          National avg.
          %b 46%

= javascript_include_tag  "https://d3js.org/d3.v4.min.js", "retention_calculator"
