---
title: Donor Retention - Questions
layout: lead_pages
---
- I18n.locale = :en
%div(id="landingpage")
  %section#banner
    .content-wrapper
      %h1 Donor Retention
  %section.sub-heading
    .content-wrapper
      %h3 Thank you for your interest in our Service. 
      %p You should receive an email from us shortly with more information.
