---
---
%section.cta-form.box
  %h2= headline
  %p Please enter your email address to get this free report
  = partial 'partials/subscribe_form', locals: { action: '', show_name: false, drip_id: '', name: 'pdf_report' }
  %p Your information will *never* be shared or sold to a 3rd party.
