---
title: Data Visualization
layout: lead_pages
---
- I18n.locale = :en
%div(id="landingpage")
  %section#banner
    .content-wrapper
      %h1 Data Visualization
  %section.sub-heading
    .content-wrapper
      %h3 Thank you for getting in touch
      %p You should receive an email from us shortly.
