---
title: Data Pipeline Crash Course
layout: landingpage
headline: "I want to learn how to create a repeatable Data Pipeline."
content: "We're completing the course, and you will be the first to know once it's finished."
name: datapipeline
drip_id: 2950925
---
- content_for(:analytics_code, "UA-367775-19")
- I18n.locale = :en
#landingpage.data-pipeline
  %h1 Want to stop spending hours getting your data into shape?
  %h2.sub-header A repeatable Data Pipeline is the answer.
  .content
    %h3 A free, 5-Day Email Course for NGOs on how to stop wasting valuable time before you can analyze and visualize your data.
    .course-signup
      = partial "partials/course_signup", locals: { headline: current_page.data.headline, content: current_page.data.content, drip_id: current_page.data.drip_id, name: current_page.data.name }
    .course-content
      %p.intro Do you spend your time trying to get your data into a format that you can use for analyzing and visualizing your data? Is it frustrating that you have to do it every time all over again? Creating a repeatable and consistent way of Collecting, Cleaning, Transforming and Updating your data will help you increase the time you can spend getting insights from your data.
      %p.intro Since most people spend up to 30% of their time Getting, Cleaning and Transforming the data, imagine how much you can save by creating a repeatable process. Once you created a Data Pipeline, you could even delegate the tasks and save even more.
      %h3 In This 5-Day Email Course, You'll Learn:
      %ul.course
        %li
          %h4 Lesson 1: Why most NGOs are burning through their data analysis budgets.
          %p Most common mistakes.
        %li
          %h4 Lesson 2: The biggest time savers when creating a Data Pipeline.
          %p Where to focus to save you time.
        %li
          %h4 Lesson 3: How to create your first Data Pipeline.
          %p The good and the bad.
        %li
          %h4 Lesson 4: How not to get stuck.
          %p Tips &amp; Tricks.
        %li
          %h4 Lesson 5: You want even more savings?
          %p Automation is the answer.
      %p Start to improve your data handling TODAY! Sign up now!
    .course-signup
      = partial "partials/course_signup", locals: { headline: current_page.data.headline, content: current_page.data.content, drip_id: current_page.data.drip_id, name: current_page.data.name }
