---
title: Civic Vision
what:
  - title: Consultancy
    content: "Sie wollen Ihre Daten gerne veröffentlichen oder Entwicklern und der Öffentlichkeit einfach zur Verfügung stellen?
    Civic Vision hilft Ihnen dabei. CV entwickelt individuelle Lösungen und baut dabei ganz auf die Stärke von Open Source Software. "
  - title: Visualizations
    content: "Sie wollen Ihre Daten gerne einer breiteren Öffentlichkeit verständlich machen? Oder Sie wollen „insights“ in Ihren Daten finden? 
    Civic Vision kann dabei helfen"
  - title: Trainings
    content: Test content
---

#welcome
  .content
    %h1 Civic Vision
    %h2 Data Consultancy

= partial "partials/what"
= partial "partials/us"
