%section#banner.second-headline
  .content-wrapper
    %h1
      Donor Retention Resources for your non-profit
    - if locals[:knows]
      %h3
        Thank you for your answer!
        %br
        Here are some additional resources you might find interesting
